<!DOCTYPE html>
<html lang='fa-IR' dir='rtl'>
<head>
    <title>{{feedInfo.title}}</title>
</head>
<body>
  <a href={{feedInfo.url}}><h1>{{feedInfo.title}}</h1></a>
  <div>
    {{#each feedItems}}
      <a href={{this.link}}><h2>{{this.title}}</h2></a>
      <div>{{this.date}}  |  {{this.author}} </div>
      <p>{{this.summary}}</p>
    {{/each}}
  </div>
</body>
</html>
